@import url("../index.css");


.register-button {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.register-button a {
  text-decoration: none;
  color: #007bff;
}

.register-button a:hover {
  text-decoration: underline;
}

.login-error-message {
  color: red;
  text-align: center;
}