.search-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.search-bar-inner {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 8px 40px 8px 12px; 
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 22px;
  height: 22px;
  fill: #333;
}

.error-search p{
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}