.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: orange;
    color: black;
    height: 100px;
}

.footer a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-weight: bold;
}

.footer img{
    height: 20px;
    width: 20px;
}

.footer a:hover{
    transform: scale(1.1);
}
